*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pokemons{
    width: 80vw;
    max-width: 1100px;
    margin: auto;
    background-color: #ffdd;
    border-radius: 10px;
}


.pokemons img{
    width:80px;
    transition: all 0.05s ease-in;
    cursor: pointer;
}

.pokemons img:hover{
    transform: scale(1.3);
}