*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-bg: #FFFFFF;
    --color-text: #000000;
}


h1{
    margin-bottom: 20px;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.inputContainer{
    position: relative;
    /* background-color: yellow; */
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"]{
    position: absolute;
    height: 30px;
    width: 30px;
    opacity: 0;
}

.label{
    display: inline-flex;
    height: 30px;
    width: 60px;
    border: 1px solid gray;
    border-radius: 50px;
    outline: 2px solid #CFBFFF;
    cursor: pointer;
    background-color: yellow;
    justify-content: center;
    align-items: center;
    position: relative;
}

.switch{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    /* background-color: yellow; */
    background-image: url(./sun.svg);
    top: 1px;
    left: 1px;
    transition: transform 0.15s ease-out;
}



input[type="checkbox"]:checked + .label {
    background-color: white;
}




input[type="checkbox"]:checked + .label>.switch{
    transform: translateX(30px);
    background-image: url(./moon.svg);
}


